*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.frame{
    width: 95%;
    margin:0 auto;
    background: white; 
    padding: 10px; 
    border-radius: 5px; 
    box-shadow: 0px 0px 10px #0000001a; 
}
body{
    color: #000; 
    text-align: center; 
    padding: 20px; 
    font-size: 1.5em; 
    background: linear-gradient(to right, #000560, #2d5ec9);
}
header{
    background: #000000; 
    color: white; 
    text-align: center; 
    padding: 20px; 
    font-size: 1.5em; 
    font-family:'FifaFont';
}
ul{
   list-style: none; 
    padding: 0; 
    margin: 0; 
    display: flex; 
    justify-content: center;
    background-color: #000560; 
    color: white;
}
li{
    margin: 0 20px;
}
nav a{
    display: inline;
    text-decoration: none; 
    color: white; 
    padding: 5px; 
    font-weight: bold; 
}

nav a:hover{
    color:#9ad0ff
}
section{
    float: left; 
    width: 50%; 
    padding: 10px; 
}
main:after{
    content:"";
    display:table;
    clear:both;
}
img{
    height:50%;
    max-width: 70%;
    border-radius:20px;
}
img:hover{
    border: 1px solid #000560; 
    opacity: 1;  
    transform: scale( 1.2); 
    transition: transform 0.5s ease-in-out; 
}
footer{
    clear:both;
    background:#000000;
    color:white;
    text-align:center;
}
@font-face {
    font-family: 'FifaFont';
    src: url(EASPORTS15.ttf); 
    font-weight: normal;
    font-style: normal;
}
